body {
    margin: 0;
    padding: 0;
    background-color: rgb(204, 204, 204);
}

h1.maintitle {
    margin-top: 60px;
    margin-bottom: 3%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.formulacalculators {
    /* background-color: rebeccapurple; */
    height: 1500px;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-column: 250px 250px;
    grid-row: auto;
    grid-template-areas:
        "heron ambiguous"
        "newton polynomial";
    column-gap: 100px;
    row-gap: 150px;
    justify-content: space-around;
    align-content: space-around;
}

.heron {
    background-color: white;
    grid-area: heron;
    border-radius: 5px;
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.inheron {
    margin-left: 50px;
    margin-right: 50px;
}

.ambiguous {
    background-color: white;
    grid-area: ambiguous;
    border-radius: 5px;
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inambiguous {
    margin-left: 50px;
    margin-right: 50px;
}

.newton {
    background-color: white;
    grid-area: newton;
    border-radius: 5px;
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.innewton {
    margin-left: 50px;
    margin-right: 50px;
}

.polynomial {
    background-color: white;
    grid-area: polynomial;
    border-radius: 5px;
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inpolynomial {
    margin-right: 50px;
    margin-left: 50px;
}

input[type="submit"] { /* Calculate buttons */
    font-size: x-large;
    color: white;
    background-color: rgb(18, 49, 228);
}